<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fec.epreport.dao.ManageDao" >

    <resultMap id="BaseResultMap" type="com.fec.epreport.entity.User" >
    </resultMap>
    <select id="selectByName" resultMap="BaseResultMap">
        select * from admin_user where user_name=#{user_name}
    </select>
    <insert id="insertAUser" parameterType="com.fec.epreport.entity.User">
        insert into admin_user values(null,#{user_name},#{user_password},null,null,null,null,#{user_creationtime},null)
    </insert>
    <update id="updatePassword" parameterType="com.fec.epreport.entity.User">
        update admin_user set user_password = #{user_password} where user_name = #{user_name}
    </update>
    <select id="selectGoodsOrderNumber" parameterType="java.lang.String" resultType="java.util.HashMap">
        select count(*) as order_quantity from goods where goods_time like #{dates}
    </select>
    <select id="selectGoodsVehiceTime" resultType="java.util.HashMap">
        select DISTINCT YEAR(goods_time) as year from (select * FROM(
            select goods_time FROM goods
            union all
            select vehice_releasetime FROM vehice) as t)as s ORDER BY year DESC
    </select>
    <select id="selectVehiceOrderNumber" parameterType="java.lang.String" resultType="java.util.HashMap">
        select count(*) as order_vehice from vehice where vehice_releasetime like #{dates}
    </select>
    <select id="selectUserNumber" resultType="java.util.HashMap">
        select count(*) as user_number from user
    </select>
    <select id="selectVehiceNumber" resultType="java.util.HashMap">
        select count(*) as vehice_number from vehice
    </select>
    <select id="selectDoodsNumber" resultType="java.util.HashMap">
        select count(*) as goods_number from goods
    </select>
    <select id="selectVehiceStateNumber" resultType="java.util.HashMap">
        select count(*) as vehice_statenumber from vehice where vehice_state = '0'
    </select>
    <select id="selectDoodsStateNumber" resultType="java.util.HashMap">
        select count(*) as goods_statenumber from goods where goods_releasestatus = '0'
    </select>
    <select id="selectAllusers" resultType="com.fec.epreport.entity.Users">
        select * from user
    </select>






</mapper>