<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fec.epreport.dao.ManageDao" >

    <resultMap id="BaseResultMap" type="com.fec.epreport.entity.User" >
    </resultMap>
    <select id="selectByName" resultMap="BaseResultMap">
        select * from text_user where user_name=#{user_name}
    </select>

</mapper>