<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fec.epreport.dao.XfmanageDao">

<sql id="Aase_Column_List">
SELECT
		h.id,
		r.id AS designId,
		h.pic AS pic,
		h.title AS title,
		h.company AS
		company
</sql>
	<sql id="Base_Column_List">
		FROM xf_advertise_home h
	left JOIN
		xf_design_resources r on h.design_id = r.id
	left JOIN
		xf_user_extens u on u.user_id = h.create_id
	where
		h.province=#{province} and h.city=#{city}
		and h.del_flag=0 and h.audit_status=1
		ORDER BY h.seq desc
		LIMIT #{pageNo},1
	</sql>
		<sql id="Base_Column_List1">
  	FROM xf_advertise_home h
	left JOIN
		xf_design_resources r on h.design_id = r.id
	left JOIN
		xf_user_extens u on u.user_id = h.create_id	
	
	where
		h.create_id =1
		and h.del_flag=0 and h.audit_status=1
 	 ORDER BY h.seq desc
		LIMIT #{pageNo},1
	</sql>
	<!-- 查询当前是否有广告 -->
	<select id="selectCount" resultType="int">
		SELECT count(*)
		<include refid="Base_Column_List" />
	</select>
	
		<!-- 查询当前是否有广告 -->
	<select id="selectXfCount" resultType="int">
		SELECT count(*)
		<include refid="Base_Column_List1" />
	</select>
	<!-- 查询广告 -->
	<select id="selectGuangGao"
		resultType="com.fec.epreport.pojo.XfAdvertiseHome">
		<include refid="Aase_Column_List" />
		<include refid="Base_Column_List" />
	</select>
	<!-- 查询咱自己的广告 -->
<select id="selectXfGuangGao"
		resultType="com.fec.epreport.pojo.XfAdvertiseHome">
		<include refid="Aase_Column_List" />
 	FROM xf_advertise_home h
	left JOIN
		xf_design_resources r on h.design_id = r.id
	left JOIN
		xf_user_extens u on u.user_id = h.create_id	
	
	where
		h.create_id =1
		and h.del_flag=0 and h.audit_status=1
 	 ORDER BY h.seq desc
	  LIMIT 0,1 
	</select>
	<!-- 查询招商 -->
	<select id="selectZhaoShang"
		resultType="com.fec.epreport.pojo.XfBusinessCenter">
		SELECT id,pic,design_id as designId FROM xf_business_center
		WHERE
		del_flag=0 
		LIMIT 0,1
	</select>

</mapper>